.header-container {
    height: 6rem;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    .header-logo {
        width: fit-content;
        img {
            height: 100%;
        }
    }

    .header-find {
        display: flex;
        justify-content: center;
        align-items: center;
        width: fit-content;
        max-width: 35rem;
        .group-find {
            width: 25rem;
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            .header-find-input {
                background: transparent;
                border: 1px solid #ced4da;
                border-radius: .5rem;
                color: #212529;
                height: -moz-fit-content;
                height: fit-content;
                min-height: 2.5rem;
                padding: .25rem .75rem;
                width: 100%;
                position: absolute;
                outline: none;
            }

            .icon {
                position: absolute;
                right: 0.75rem;
            }
        }
    }

    .header-common-infor {
        width: fit-content;
        gap: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        font-weight: 600;
        .icon {
            filter: invert(14%) sepia(100%) saturate(4618%) hue-rotate(352deg) brightness(86%) contrast(80%);
        }
        .icon-cart {
            border: 2px solid #ca2628;  
            border-radius: 10px;
            cursor: pointer;
            padding: 6px;
            color: #ca2628;
            filter: invert(14%) sepia(100%) saturate(4618%) hue-rotate(352deg) brightness(86%) contrast(80%);
        }
        .infor {

        }
    }
}